<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467804634898-tftgf4u4lho6g5p5ofqfamartldqbr0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467804634898-tftgf4u4lho6g5p5ofqfamartldqbr0u</string>
	<key>API_KEY</key>
	<string>AIzaSyAdoyAKLdGCJsU9zUeWZfcNTe7XTIEVUuI</string>
	<key>GCM_SENDER_ID</key>
	<string>467804634898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.himanshu.to-let-go</string>
	<key>PROJECT_ID</key>
	<string>to-let-go-4112b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-let-go-4112b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467804634898:ios:606515ab8a739ce922bdcb</string>
</dict>
</plist>